SonLVL INI Files/dllcache
SonLVL INI Files/SonLVL.log
SonPLN.log
*~

# Misc. compiler output.
main.p
main.lst
main.log

# Built ROMs.
s2built.bin
s2built.prev.bin

# Hivebrains comment utility
Comment.bat
Comment.exe
